@model TargetWeb1.Models.Articulo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Articulo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UrlImagen" class="control-label"></label>
                <input asp-for="UrlImagen" class="form-control" />
                <span asp-validation-for="UrlImagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockUnidades" class="control-label"></label>
                <input asp-for="StockUnidades" class="form-control" />
                <span asp-validation-for="StockUnidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StockEnBulto" class="control-label"></label>
                <input asp-for="StockEnBulto" class="form-control" />
                <span asp-validation-for="StockEnBulto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioSugMinorista" class="control-label"></label>
                <input asp-for="PrecioSugMinorista" class="form-control" />
                <span asp-validation-for="PrecioSugMinorista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioSugMayorista" class="control-label"></label>
                <input asp-for="PrecioSugMayorista" class="form-control" />
                <span asp-validation-for="PrecioSugMayorista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioSugMeLi" class="control-label"></label>
                <input asp-for="PrecioSugMeLi" class="form-control" />
                <span asp-validation-for="PrecioSugMeLi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
