
    * {
        box-sizing: border-box;
        margin:0;
        padding:0;
    }
    
    body{
        background: white;
        color:blanchedalmond;
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        /*background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='88' height='88' viewBox='0 0 88 88'%3E%3Cg fill='%239C92AC' fill-opacity='0.29'%3E%3Cpath fill-rule='evenodd' d='M29.42 29.41c.36-.36.58-.85.58-1.4V0h-4v26H0v4h28c.55 0 1.05-.22 1.41-.58h.01zm0 29.18c.36.36.58.86.58 1.4V88h-4V62H0v-4h28c.56 0 1.05.22 1.41.58zm29.16 0c-.36.36-.58.85-.58 1.4V88h4V62h26v-4H60c-.55 0-1.05.22-1.41.58h-.01zM62 26V0h-4v28c0 .55.22 1.05.58 1.41.37.37.86.59 1.41.59H88v-4H62zM18 36c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H20a2 2 0 0 1-2-2zm16-26a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 58a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v4a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-4zM34 78a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-6zM34 4a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm16 0a2 2 0 0 1 2-2 2 2 0 0 1 2 2v6a2 2 0 0 1-2 2 2 2 0 0 1-2-2V4zm-8 82a2 2 0 1 1 4 0v2h-4v-2zm0-68a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V18zM66 4a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm0 72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm-48 0a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0v-8zm0-72a2 2 0 1 1 4 0v8a2 2 0 1 1-4 0V4zm24-4h4v2a2 2 0 1 1-4 0V0zm0 60a2 2 0 1 1 4 0v10a2 2 0 1 1-4 0V60zm14-24c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm0 16c0-1.1.9-2 2-2h10a2 2 0 1 1 0 4H58a2 2 0 0 1-2-2zm-28-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm8 26a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM36 20a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-8-8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 68a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-34a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm16-12a2 2 0 1 0 0 4 6 6 0 1 1 0 12 2 2 0 1 0 0 4 10 10 0 1 0 0-20zm-64 0a2 2 0 1 1 0 4 6 6 0 1 0 0 12 2 2 0 1 1 0 4 10 10 0 1 1 0-20zm56-12a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm-48 0a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-48a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm24 32a10 10 0 1 1 0-20 10 10 0 0 1 0 20zm0-4a6 6 0 1 0 0-12 6 6 0 0 0 0 12zm36-36a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM10 44c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm56 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm8 24c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zM3 68c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm0-48c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4H5a2 2 0 0 1-2-2zm71 0c0-1.1.9-2 2-2h8a2 2 0 1 1 0 4h-8a2 2 0 0 1-2-2zm6 66a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zM8 86a6 6 0 1 1 0-12 6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-68A6 6 0 1 1 8 2a6 6 0 0 1 0 12zm0-4a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm36 36a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'/%3E%3C/g%3E%3C/svg%3E");
   */
    }

    .btn{
        background:pink;
        padding: 10PX 10PX;
        border-radius: 5rem;
        border: 1px solid #621852;
        font-weight: bold;
        font-style: italic;
    }

    .btn:hover{
        opacity: .9;
    }

    .logoMeli{
        height: 60px;
    }
    
    a{
        color:#621852;
        text-decoration: none;
    }
    
    ul{
        list-style: none;
    }
    
    .container{
        width: 90%;
        margin: auto;
    
    }
    
    /* ESTILOS DEL NAVIGATOR*/
    .nav-main{
        font-size:19px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        padding: 10px;
        margin-top: 10px;

    }
    
    .nav-brand{
        width: 90px;
        height: 40px;
    }
    
    /* NAV LEFT*/
    
    .nav-main ul {
        display: flex;
    }
    
    .nav-main ul li {
        padding: 10px;
    }
    
    .nav-main ul li a{
        padding: 3px;
        text-align: center;
    }
    
    .nav-main ul li a:hover{
        border-bottom: 2px solid #621852;
    }
    
    
    .nav-main ul.nav-menu{
        flex:1;
        margin-left: 20px; 
    }


    /*FORMULARIO DE BUSQUEDA*/
    #busqueda{
        height: 30px;
        width: 400px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-top: 16px;
        border-style: double;
        border-color:#621852 ;
        opacity: .7;
        font-size: 20px;
        font-style: italic;
   
       
    }

    input{
       outline: none; 
    } 

    .input_buscador{
        position:relative;

    }

    input:focus::placeholder{
        color:deeppink;
 
    }

    .btn_buscar{
        background: none;
        border-style: none;
        margin-left: 10px;
        padding-top: 16px;
        padding-bottom: 10px;
        cursor: pointer;
        align-items: flex-end;
        font-size: 25px;
        color:#621852;
    }

/*MENU RIGHT
    .nav-menu-right{
        margin-right: 1050px;

    }
    
    .menu-btn{
        color: #621852;
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 30px;
        font-size: 1.5rem;
        display: none;
        z-index: 2; /*siempre arriba
        display: none;
    }*/
    
    /*SHOWCASE*/
    hr{
     margin: 10px 0px;   
    }
    
    .showcase{
        
        width: 100%;
        height: 450px;
        background: url('img/showCase.jpg') no-repeat center center/cover;
        display:flex; 
        flex-direction: column;
        align-items:center;
        justify-content: center;
        position:relative
    }

    /*PARA DAR TRANSPARENCIA SOLO A LA IMAGEN DE FONDO*/
    .showcase:before{
        content: "";
        width: 100%;
        height: 450px;
        background-position: center;
        background-size: cover;
        position: absolute;
        opacity: .2;
        background-color:snow;
    }

    .showcase h1, a{
        color:#621852;
        padding: 16px;
        margin-bottom: 0px;
        z-index: 1;
        align-items: center;
        font-family: 'Oswald', sans-serif;
    }

    /*social*/
.social{
    margin:50px;
}

.social p{
    color: #621852;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a{
    margin:0 30px;
}

.links a i
{
    font-size: 3rem;
}

.footer
{
    color:#616161;
    font-size: 12px;
    padding-top: 150px;
    padding-bottom: 10px;
    text-align: center;
   
}


    @media (max-width: 845px){

        /*.menu-btn{
            display: block;
        }    
        
        .nav-main ul.nav-menu{
        display: block;
        position: absolute; 
        top: 0;
        left: 0;
        background: white;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
           

        }*/

        .nav-brand{
            position: relative;
           
        }

        .logoMeli{
            position: relative;
            margin-top: 0px;
            
        }

        hr{
            margin-top: 50px;
        }

        form{
            position: absolute;
            margin-left: 10px;
            margin-top: 60px;
            top: 0px;
            right: 20px;
            

        }


        
        .nav-main ul.nav-menu.show {
            transform: translateX(-20px);
        
        }
        
        .nav-main ul.nav-menu li{
            padding: 20px;
            font-size: 14px;
        }
        
        .footer{
            padding-top: 30px;
        }


        }
        

